<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="OrderMapper">

  <resultMap type="order" id="orderResultSet">
	  	<result column="ORDER_NO" property="orderNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="ORDER_TOTALPAY" property="totalPay"/>
  </resultMap>
  
    <resultMap type="orderDetail" id="orderDetailResultSet">
	  	<result column="ODRDER_DETAIL_NO" property="orderDetailNo"/>
		<result column="ORDER_NO" property ="orderNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="EXPER_NO" property="experNo"/>
		<result column="TICKET_NO" property="ticketNo"/>
		<result column="COUNT" property="count"/>
		<result column="ORDER_SATUS" property="orderStatus"/>
  		<result column="ORDER_DATE" property="orderDate"/>
  </resultMap>
  
  
  <select id="insertOrder" parameterType="order" resultMap="orderResultSet">
  
 	 INSERT INTO ORDERS VALUES 
 	 (SEQ_ONO.NEXTVAL, #{userNo}, #{totalPrice})

	</select>
	
	
	<select id="selectOrderNo" parameterType="order" resultMap="orderResultSet">
	SELECT *
	FROM   
		(SELECT ORDER_NO
		FROM ORDERS
		WHERE USER_NO=#{userNo}
		ORDER BY ORDER_NO DESC)
	WHERE ROWNUM = 1
    
	</select>
	
	
	<select id="insertOrderDetail" parameterType="orderDetail" resultMap="orderDetailResultSet">
  
 	 INSERT INTO ORDER_DETAIL VALUES
 	 (SEQ_ODNO.NEXTVAL, #{orderNo}, #{userNo}, 0, 0, #{ticketNo}, 1, 1, SYSDATE)

	</select>
	
	<select id="insertOdPro" parameterType="orderDetail" resultMap="orderDetailResultSet">
  
 	 INSERT INTO ORDER_DETAIL VALUES
 	 (SEQ_ODNO.NEXTVAL, #{orderNo}, #{userNo}, #{productNo}, 0, 0, #{count}, 1, SYSDATE)

	</select>
	
	
	
	<select id="insertOdExer" parameterType="orderDetail" resultMap="orderDetailResultSet">
  
 	 INSERT INTO ORDER_DETAIL VALUES
 	 (SEQ_ODNO.NEXTVAL, #{orderNo}, #{userNo}, 0, #{experNo}, 0, #{count}, 1, SYSDATE)

	</select>
  
  

</mapper>