<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

<resultMap type="qna" id="qnaResultSet">
	<result column="QNA_NO" property="qnaNo"/>
	<result column="QNA_CATE" property="qnaCate"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
	

</resultMap>

<select id="qnaselectListCount" resultType="_int">
SELECT Count(*)
FROM QNA

</select>


<select id="qnaselectList" resultMap="qnaResultSet">
SELECT QNA_TITLE,QNA_CONTENT,QNA_NO,QNA_CATE FROM QNA 
</select>


</mapper>
