<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="ticketMapper">

  <resultMap type="ticket" id="ticketResultSet">
	  	<result column="TICKET_NO" property="ticketNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="TICKET_ADULT" property="ticketAdult"/>
		<result column="TICKET_KID" property="ticketKid"/>
		<result column="TICKET_FREE" property="ticketFree"/>
		<result column="TICKET_DATE" property="ticketDate"/>
		<result column="TICKET_BOOKINGTIME" property="ticketBookingTime"/>
		<result column="TICKET_STATUS" property="ticketStatus"/>
  </resultMap>


  <resultMap type="member" id="memberResultSet">
	  	<result column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_PHONE" property="phone"/>
		<result column="USER_EMAIL" property="email"/>
  </resultMap>

	<select id="selectUserInfo" parameterType="member" resultMap="memberResultSet">
  	SELECT*
  	FROM MEMBER
  	WHERE USER_NO=#{userNo}
  	AND USER_STATUS='Y'
  </select>
  
  
  	<select id="insertTicket" parameterType="ticket" resultMap="ticketResultSet">
  
 	 INSERT INTO TICKET VALUES
		 	 (SEQ_TNO.NEXTVAL,
		 	 #{userNo},
		 	 #{ticketAdult},
		 	 #{ticketKid},
		 	 #{ticketFree},
		 	 #{ticketDate},
		 	 SYSDATE,
		 	 DEFAULT)

	</select>
	
	
	<select id="insertOrder" parameterType="ticket" resultMap="ticketResultSet">
  
 	 INSERT INTO ORDER VALUES
		 	 (SEQ_TNO.NEXTVAL,
		 	 #{userNo},
		 	 #{ticketAdult},
		 	 #{ticketKid},
		 	 #{ticketFree},
		 	 #{ticketDate},
		 	 SYSDATE,
		 	 DEFAULT)

	</select>
</mapper>